{% extends "companies/company_base.html" %}

{% block title %}
Edit Company Profile
{% endblock %}

{% block company_content %}

<div class="page-header">

    <div>

        <h1>Edit Company Profile</h1>

        <p>Update your business information</p>

    </div>

</div>

<div class="profile-card">

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="form-grid">

            {% for field in form %}

                <div class="form-group {% if field.name == 'description' %}full-width{% endif %}">

                    <label>{{ field.label }}</label>

                    {{ field }}

                    {% if field.errors %}
                        <small class="form-error">
                            {{ field.errors|striptags }}
                        </small>
                    {% endif %}

                </div>

            {% endfor %}

        </div>

        <div class="profile-actions">

            <a href="{% url 'company_profile' %}" class="secondary-btn">

                <i class="fa-solid fa-arrow-left"></i>

                Cancel

            </a>

            <button type="submit" class="primary-btn">

                <i class="fa-solid fa-floppy-disk"></i>

                Save Changes

            </button>

        </div>

    </form>

</div>

{% endblock %}