# Virtual environments
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

# Database
db.sqlite3

# Environment variables
.env

# Media
media/

# Static collected files
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db