# Virtual environments
venv/
env/
.venv/

# Python
_pycache_/
*.pyc
*.pyo

# Database
db.sqlite3

# Environment variables
.env

# Media
media/

# Static collected files
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db