# Virtual environments
venv/
env/
.venv/

# Python
_pycache_/
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Environment variables
.env
.venv

# Media
media/

# Static collected files
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db