{% extends "adminpanel/admin_base.html" %}
<!-- 

<div class="page-header">

    <div>

        <h1>Regions</h1>

        <p>Manage trekking regions.</p>

    </div>

    <a href="{% url 'add_region' %}" class="primary-btn">

        <i class="fa-solid fa-plus"></i>

        Add Region

    </a>

</div>

<div class="table-card">

    {% if regions %}

        <table class="admin-table">

            <thead>

                <tr>

                    <th>Image</th>

                    <th>Name</th>

                    <th>Status</th>

                    <th>Actions</th>

                </tr>

            </thead>

            <tbody>

            {% for region in regions %}

                <tr>

                    <td>

    {% if region.image %}

        <img
            src="{{ region.image.url }}"
            alt="{{ region.name }}"
            class="region-thumbnail">

    {% else %}

        No Image

    {% endif %}

</td>

                    <td>{{ region.name }}</td>

                    <td>

                        {% if region.is_active %}
                            <span class="status-badge status-active">
                                Active
                            </span>
                        {% else %}
                            <span class="status-badge status-inactive">
                                Inactive
                            </span>
                        {% endif %}

                    </td>

                    <td>

                        <div class="table-actions">

                            <a href="{% url 'edit_region' region.pk %}" class="edit-btn">
                                Edit
                            </a>

                            <a href="{% url 'delete_region' region.pk %}" class="delete-btn">
                                Delete
                            </a>

                        </div>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    {% else %}

        <div class="empty-table">

            <i class="fa-solid fa-mountain"></i>

            <p>No regions created yet.</p>

        </div>

    {% endif %}

</div>

 -->



{% block title %}
Regions
{% endblock %}

{% block page_title %}
Regions
{% endblock %}

{% block admin_content %}

<div class="page-header">

    <div>

        <h1>Regions</h1>

        <p>Manage trekking regions.</p>

    </div>

    <a href="{% url 'add_region' %}" class="primary-btn">

        <i class="fa-solid fa-plus"></i>

        Add Region

    </a>

</div>

<div class="table-card">

    {% if regions %}

        <table class="admin-table">

            <thead>

                <tr>

                    <th>Image</th>

                    <th>Name</th>

                    <th>Status</th>

                    <th>Actions</th>

                </tr>

            </thead>

            <tbody>

            {% for region in regions %}

                <tr>

                    <td>

    {% if region.image %}

        <img
            src="{{ region.image.url }}"
            alt="{{ region.name }}"
            class="region-thumbnail">

    {% else %}

        No Image

    {% endif %}

</td>

                    <td>{{ region.name }}</td>

                    <td>

                        {% if region.is_active %}
                            <span class="status-badge status-active">
                                Active
                            </span>
                        {% else %}
                            <span class="status-badge status-inactive">
                                Inactive
                            </span>
                        {% endif %}

                    </td>

                    <td>

                        <div class="table-actions">

                            <a href="{% url 'edit_region' region.pk %}" class="edit-btn">
                                 <i class="fa-solid fa-pen"></i>
                            </a>

                            <a href="{% url 'delete_region' region.pk %}" class="delete-btn">
                               <i class="fa-solid fa-trash"></i>
                                
                            </a>

                        </div>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    {% else %}

        <div class="empty-table">

            <i class="fa-solid fa-mountain"></i>

            <p>No regions created yet.</p>

        </div>

    {% endif %}

</div>

{% endblock %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/region_form.js' %}"></script>
{% endblock %}