{% extends 'base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<section class="dashboard-page">

    <div class="dashboard-container">

        <!-- Sidebar -->
        {% include "home/sidebar.html" %}

        <!-- Main Area -->
        <section class="dashboard-main">
            <div class="dashboard-content">

                <!-- Welcome -->
                <div class="welcome-card">

                    <div class="welcome-text">
                        <h1>Hello, {{ request.user.username }} 👋</h1>
                        <p>
                            Welcome back to Trek Sathi. Manage your trekking journey,
                            bookings and discover your next adventure.
                        </p>
                    </div>

                    <div class="welcome-icon">
                        <i class="fa-solid fa-mountain-sun"></i>
                    </div>

                </div>

                <!-- Statistics -->
                <div class="stats-grid">

                    <div class="stat-card">
                        <i class="fa-solid fa-calendar-check"></i>
                        <h2>0</h2>
                        <span>Bookings</span>
                    </div>

                    <div class="stat-card">
                        <i class="fa-solid fa-heart"></i>
                        <h2>0</h2>
                        <span>Saved Packages</span>
                    </div>

                    <div class="stat-card">
                        <i class="fa-solid fa-star"></i>
                        <h2>0</h2>
                        <span>Reviews</span>
                    </div>

                </div>

                <!-- Bottom Section -->
                <div class="dashboard-bottom">

                    <!-- Upcoming Bookings -->
                   <div class="dashboard-card empty-dashboard-card">

    <div class="dashboard-card-icon">
        <i class="fa-solid fa-suitcase-rolling"></i>
    </div>

    <h3>Upcoming Bookings</h3>

    <p>No upcoming bookings yet.</p>

</div>
                    <!-- Saved Packages -->
                    <div class="dashboard-card empty-dashboard-card">

    <div class="dashboard-card-icon">
        <i class="fa-solid fa-heart"></i>
    </div>

    <h3>Saved Packages</h3>

    <p>No saved packages yet.</p>

</div>

            </div>
        </section>

    </div>

</section>
{% endblock %}